body{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background-image: url(./imagens/93239.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.calculadora {
    margin-top: 40px;
    border: solid 1px rgb(19, 19, 19);
    background-color: #26282a;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(17, 17, 17);
    padding: 15px 5px;
    
    
    
}
button{
    color: white;
    background: #102d33;
    width: 60px;
    height: 50px;
    border: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.986);
    border-radius: 5px;
    margin: 5px;
    transition: .3s ease-in-out;
    font-size: 20px;
    font-family:   "The+Nautigal";
}
button:hover{
    cursor: pointer;
    background-color: #173e4e ;
    
}
.C{
    width: 130px;
}


.form-control{
    width: 250px;
    height: 35px;
    margin: 15px 0;
    border-radius: 5px;
    
    
}
input{
    background-color: #f1faee;
    text-align: end;
    border: none;
    padding: 7px;
    font-size: 23px;
    
}
.igual{
    height: 110px;
}
.primeiro{
    display: flex;
    
}
.segundo{
    display: flex;
    
}
.terceiro{
    display: flex;
    
}
.quarto{
   display: flex;
   position: relative;
   
}
.quinto{
    display: flex;
    height: 60px;
    position:absolute;
    top: 59px;
    
    
}

.num0{
    width: 130px;
}

